[flake8]
import-order-style = pycharm

select =
  B,  # bugbear
  B9,  # bugbear opinionated
  C,  # mccabe, comprehensions, commas
  D,  # docstrings
  E,  # pycodestyle errors
  F,  # pyflakes
  G,  # logging format
  I,  # imports
  P,
  Q,  # quotes
  RST,  # rst docstring formatting
  T0,  # print
  T4,  # mypy
  W,  # pycodestyle warnings

ignore =
  D100,  # docstring public module.
  D101,  # Missing docstring in public class.
  D102,  # docstring in public methods.
  D103,  # Missing docstring in public function.
  D104,  # docstring public packages.
  D107,  # __init__ docstring. Following NumPy style class docstring.
  E501, # Bump max-line-length to 88 as black recommends.
  E203, # whitespace before ':' Not PEP 8 compliant.
  W503, # Line break occurred before a binary operator.

max-line-length = 120
max-complexity = 10

inline-quotes = single
multiline-quotes = double
docstring-quotes = double

format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
